<link crossorigin="anonymous" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/footer.css">

<footer class="text-white-50" style="text-align: center;">
    <p>&copy; 2024 YelpCamp </p>
    <div>
        <ul style="list-style: none; padding: 0; margin: 0;">
            <li style="display: inline; margin: 0 10px;">
                <a href="https://github.com/DiogoCoelho98" target="_blank" class="text-white-50 icon-link" style="text-decoration: none;">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li style="display: inline; margin: 0 10px;">
                <a href="https://www.linkedin.com/in/diogo-coelho-9360a9268/" target="_blank" class="text-white-50 icon-link" style="text-decoration: none;">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
