<% layout('layouts/boilerplate') %>

<link crossorigin="anonymous" rel="stylesheet" href="/stylesheets/error.css">

<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">
                <%= err.message %>
            </h4>
            <p>Status: <%= err.statusCode %></p>
            <div style="max-height: 300px; overflow-y: auto;">
                <% if (process.env.NODE_ENV !== 'production') { %>
                <p><%= err.stack %></p>
                <% } %>
            </div>
        </div>
        <a href="/"><button>Home</button></a>
    </div>
</div>