.mapboxgl-popup {
    max-width: 300px;
    font-family: Arial, sans-serif;
}

.mapboxgl-popup-content {
    padding: 10px;
}

.mapboxgl-popup-close-button {
    display: none; 
}

.mapboxgl-popup-content a {
    color: #0078ff;
    text-decoration: none;
}

.mapboxgl-popup-content a:hover {
    text-decoration: underline;
}

