footer {
    margin-top: 20px;
}
.icon-link {
    font-size: 30px;
    transition: color 0.3s, transform 0.3s; 
    margin-bottom: 10px;
}

.icon-link:hover {
    background-color: rgba();
    transform: scale(1.1); 
}